.DS_Store
**/.DS_Store
**/._*
**/.Trash-0/
**/.ipynb_checkpoints/
**/results/runs/
**/*.tar.gz
**/*.arrow
**/glove.6B.*.txt
**/raw_data/
**/audio_examples/
**/XY_*/
**/models/*.h5
**/models/*.bin
**/model/*.h5
**/model/*.bin
**/model/**/*.h5
**/model/**/*.bin
**/train.wav
**/tmp.wav
**/chime_output.wav